.service-section{
    padding-top: 100px;
    padding-bottom: 0;
}

.card{
    opacity: 0.7;
}
.card Img{
    height:176px;
    /* opacity: 0.7; */
}

.card-wrapper{
    padding: 12px;
}

.service_content{
    padding-top: 10px;
}

.card:hover{
    transform: scaleY(1.2);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .card-img-top:hover{
    opacity:1 ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
} */
.card:hover{
    opacity:1 ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media only screen and (max-width:576px) {
    img.icon8{
        height: 30px;
    }
    .card:hover{
        transform: scale(1);
        /* z-index: 999; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
