.nav-menu{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
.nav-menu h3{
    color:greenyellow
}
.footer_copyright p{
    margin: 10px 0;
    color: beige;
}

.footer-section{
    background: #442c49f0;
    /* background: #0d324d ; */
}

.footer_brand h2,h5{
    margin: 0;
    color:cornsilk
}

@media screen and (max-width:576px) {
    .styles_scroll-to-top__2A70v {
        right: 12px!important ;
    }
}